
[maxscale]
threads=auto

[server1]
type=server
address=db-master-development
port=3306
protocol=MariaDBBackend


[server2]
type=server
address=db-slave-development1
port=33071
protocol=MariaDBBackend

[server3]
type=server
address=db-slave-development2
port=33072
protocol=MariaDBBackend

[server4]
type=server
address=db-slave-development3
port=33073
protocol=MariaDBBackend


[ReplicationMonitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3,server4
user=admin
password=prestashop

[Read-Write-Service]
type=service
router=readwritesplit
servers=server1,server2,server3,server4
user=admin
password=prestashop

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MariaDBClient
port=3306
